body {
  font-family: Monospace;
  background-color: #ffdcbf;
}

.content{
  background-color:green;
  position: absolute;
    left: 50%;
    margin-left: -350px;
  margin-top: 20px;
    width: 700px;
    height: 700px;
}

#h-menu {
  position: absolute;
  left: 45%;
}
